<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/8c88b3fdc7.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link href="/main.css" rel="stylesheet" />
    <link rel="icon" href="./favicon.png" />
    <title>Awesome Cards</title>
  </head>
  <body>
    <main>
      <section class="preview animate__animated animate__bounceIn">
        <article class="preview__box palette-<%= palette %>">
          <div class="preview__container--<%= palette%>">
            <h3 class="preview__name"><%= name %></h3>
            <p class="preview__job"><%= job %></p>
          </div>
          <div class="preview__photo">
            <img class="photo__profile" src="<%= photo %>"></img>
          </div>

          <nav>
            <ul class="preview__socialIcons">
              <li>
                <a href="tel:<%=phone %>"  class="preview__icon">
                  <i class="fa-solid fa-mobile-screen-button"></i>
                </a>
              </li>
              <li>
                <a href="mailto:<%= email %>"  class="preview__icon">
                  <i class="fa-regular fa-envelope"></i>
                </a>
              </li>

              <li>
                <a
                  href="https://<%= linkedin %>"
                  target="_blank"
                  
                  class="preview__icon"
                >
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a
                  href="https://<%= github %>"
                 
                  target="_blank"
                  class="preview__icon"
                >
                  <i class="fa-brands fa-github-alt"></i>
                </a>
              </li>
            </ul>
          </nav>
          <div class="preview__rectangle"></div>
        </article>
      </section>
    </main>
  </body>
</html>
